* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
}

/* header */

header .container-fluid {
    background-color: #fff;
}

/* main */
.blue-bar{
    margin-top: 11rem;
    background-color: aqua;
}

.box_icon {
    height: 8rem;
    background-color: burlywood;
    border-radius: 10px;
}